/* ./src/tailwind.css */
.form-holder {
    padding: 1.5rem 8rem 1.5rem 1rem;
    border: none;
    border-radius: 9999px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    

}